.footer_main_div {
    width: 100%;
    background: var(--black, #2E151B);
    z-index: 30;
    position: relative;
}

.FAYND_white {
    width: 246px;
    height: 128px;
    flex-shrink: 0;
}

.logo_text {
    color: #FFF;
    font-family: Poppins;
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    width: 240px;
    height: 54px;
    flex-shrink: 0;
}

.title {
    color: var(--White, #FFF);
    font-family: Poppins;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 150%; /* 24px */
    opacity: 100;
}

ul {
    list-style-type: none;
    color: var(--White, #FFF);
    font-family: Poppins;
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: 150%; /* 18px */
    opacity: 0.7;
    line-height: 5em;
}

.control_footer_div {
    display: flex;
    margin-left: 8%;
    gap: 5%;
    padding-top: 7%;
}

.divider {
    width: 85%;
    height: 1.013px;
    flex-shrink: 0;
    opacity: 0.25;
    background: var(--White, #FFF);
    align-items: center;
    margin-top: 77px;
}

.divider_container {
    display: flex;
    width: 100%;
    align-items: center;
    flex-direction: column;
    justify-content: center;
}
/* 
.white_ring {
    width: 645px;
    height: 653.535px;
    flex-shrink: 0;
    border-radius: 653.535px;
    border: 120px solid var(--White, #FFF);
    position: absolute;
    transform: translatey(-40em);
    margin-left: 80em;
    overflow:hidden;
} */


.inner_logo_divs {
    display: flex;
    align-items: center;
    gap: 24px;
}

.social_media {
    color: var(--White, #FFF);
    font-family: Poppins;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    opacity: 0.7;
}

.icon_logo {
    width: 24px;
    height: 24.318px;
    flex-shrink: 0;
    cursor: pointer;
}

.terms_div {
    display: flex;
    gap: 40px;
}

.logo_divs {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 85%;
    margin-top: 20.26px;
    margin-bottom: 50px;
}

.inner_footer_div {
    display: flex;
    margin-left: 8%;
    justify-content: space-between;
    width: 40%;
}

.footer_title {
    line-height: 4em;
}

a {
    color: #FFF;
}

@media (max-width: 740px) {
    .footer_main_div {
        height: 408px;
        width: 100%;
        display: flex;
        justify-content: center;
        justify-content: center;
    }
    .FAYND_white {
        width: 92px;
        height: 45px;
    }
    .control_footer_div {
        display: flex;
        flex-direction: column;
        width: 100%;
        margin-left: 0;
        justify-content: center;
        gap: 2em;
    }

    .footer_main_div {
        display: flex;
        flex-direction: column;
        height: 408px;
    }
    .logo_divs {
        display: flex;
        flex-direction: column;
    }
    .social_media {
        color: var(--White, #FFF);
        font-family: Poppins;
        font-size: 10px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
        width: 6.5em;
    }
    .inner_logo_divs {
        justify-content: space-between;
    }
    .footer_title {
        color: var(--White, #FFF);
font-family: Poppins;
font-size: 10px;
font-style: normal;
font-weight: 400;
line-height: 150%; /* 15px */
    }
    .divider {
        margin-top: 10px;
    }
    .logo_text {
        color: #FFF;
        text-align: center;
        font-family: Poppins;
        font-size: 8px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
        width: 315px;
        height: 24px;
        flex-shrink: 0;
    }
    .logo_find {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
    .social_media {
        color: var(--White, #FFF);
        font-family: Poppins;
        font-size: 10px;
        width: auto;
        font-style: normal;
        font-weight: 400;
        line-height: 150%; /* 15px */
    }
    .terms_div {
        gap: 0px;
        width: 100%;
        margin-top: 2em;
        justify-content: space-between;
    }
    .logo_find {
        display: flex;
        flex-direction: column;
        gap: 1em;
    }
    .inner_footer_div {
        width: 100%;
        margin: 0;
        display: flex;
        justify-content: center;
    }
}