.main_search_div {
   display: flex ;
   justify-content: center;
}

.search_input_div {
    height: 50px;
    width: 1000px;
    flex: 1 0 0;
    outline: none;
}

.search_div {
    background-color: red;
    padding: 0px 2em;
    border-radius: 999px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.search_main_div {
    margin-top: 5em;
}