.resetDIv {
    background-color: white;
    padding: 44px 20px 44px 20px;
    border-radius: 6px;
    width: 40em;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.create_account_main {
    display: flex;
    align-items: center;
}

.input6 {
    height: 40px;
    padding: 0px 10px;
    border: 1px solid #dcdcdc;
    outline: none;
}

.input3 {
    width: 40px;
    height: 40px;
    flex-shrink: 0;
    border-radius: 10px;
    border: 0px solid var(--brand-2-900, #DA7893);
    background: var(--Neutral-Border, #D5DADD);
    margin: 2px;
    text-align: center;
    color: var(--Brand-Primary, #2F4454);
    font-family: Jost;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.input3:focus {
    outline: none;
}

.newDiv {
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: center;
    gap: 15px;
    justify-content: center;
}

.otpDiv2 {
    width: 200px;
    height: 51px;
    flex-shrink: 0;
    display: flex ;
    align-items: center;
    justify-content: center;
}

@media (max-width: 500px) {

    .heading_account {
        font-size: 18px;
    }

    .second_text {
        font-size: 12px;
    }
    
    .resetDIv {
        padding: 0;
        width: 90%;
    }

    .resetDIv form {
        width: 100%
    }

    .responsive_button2 {
        width: 100%;
    }
}