.top_bar {
    width: 100vw;
    height: 136px;
    flex-shrink: 0;
    background: #FFF;
    display: flex;
    position: fixed;
    align-items: center;
    justify-content: space-between;
    top: 0;
    z-index: 20;
}

.create_account_main {
    background-image: url("../../assets/Rectangle 3464029.png");
    background-repeat: no-repeat;
    background-size: cover;
    height: 100%;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.top_image {
    width: 120px;
    height: 64px;
    flex-shrink: 0;
}

.inner_account_div {
    display: flex;
    flex-direction: column;
}

.sign_in_button {
    display: flex;
    padding: 8px 30px;
    justify-content: center;
    align-items: center;
    gap: 10px;
    border-radius: 140px;
    background: var(--Brand-Primary, #2F4454);
    color: #FFF;
    font-family: Poppins;
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    margin-right: 160px;
}
.fayndLogo {
  position: absolute;
  padding-left: 8em;
  opacity: 0.03;
  margin-top: 4em;
  z-index: 0;

}

.account_form_div {
    background-color: rgb(255, 255, 255);
    margin: 20px;
    flex-shrink: 0;
    padding: 19px 44px ;
    height: 80%;
    border-radius: 6px;
}

.account_main_form_div {
    display: flex;
    justify-content: center;
    align-items: center;
}

.create_account_form {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
}

.grid_div {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}

.heading_account {
    color: #2E151B;
    font-family: Poppins;
    font-size: 24px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.second_text {
    color: var(--black, #2E151B);
    font-family: DM Sans;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    margin-bottom: 45px;
}

.input_div {
    display: flex;
    flex-direction: column;
}

.custom-select-container {
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
    outline: none;
}

.input_dropdown {
    height: 48px;
    width: auto;
    outline: none;
    border: 0.8px solid rgba(41, 41, 41, 0.30);
    background-color: white;
    padding-left: 7px;
}

.span3 {
    position: absolute;
    margin-top: 90px;
    color: var(--brand-2-900, #DA7893);
    font-family: Poppins;
    font-size: 12px;
    font-style: normal;
    font-weight: 500;
    line-height: 19.603px;
    letter-spacing: 0.14px;
}

.span3 {
    width: 385px;
}

.input {
    display: inline-flex;
    height: 45px;
    padding-left: 10px;
    width: auto;
    border: 0.8px solid rgba(41, 41, 41, 0.30);
    justify-content: center;
    align-items: center;
    color: rgba(46, 21, 27, 0.90);
    font-family: Poppins;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    z-index: 10;
}

.input:focus {
    outline: none;
    background-color: #E9E9E9;
}

.password_input {
    width: 330px;
    border: none;
    color: rgba(46, 21, 27, 0.90);
    font-family: Poppins;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.input:focus-within {
    background-color: #E9E9E9;
}

.password_input:focus {
    outline: none;
    background-color: #E9E9E9;
}

.eyes {
    width: 20px;
    height: 20px;
    margin-right: 14px;
    cursor: pointer;
}

label {
    color: #272626;
    font-family: DM Sans;
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    opacity: 0.7;
}

.button_box {
    display: flex;
    justify-content: center;
    width: 692.046px;
}
.second_gray_button {
    color: #FFF;
    font-family: Poppins;
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    display: flex;
    width: 440px;
    height: 51px;
    padding: 8px 16px 8px 19px;
    justify-content: center;
    align-items: center;
    color: white;
    gap: 10px;
    flex-shrink: 0;
    border-radius: 8px;
    margin-top: 30px;
    background: var(--Brand-Primary, #2F4454);
}

p {
    margin-top: 16px;
    color: var(--black, #2E151B);
    font-family: DM Sans;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    opacity: 0.9;
}

.or {
    color: var(--black, #2E151B);
    font-family: DM Sans;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    opacity: 0.7;
    margin-top: 48px;
}

::placeholder {
    color: rgba(46, 21, 27, 0.50);
    font-family: Poppins;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.logo_button {
    margin-top: 11px;
    display: flex;
    gap: 16px;
}

.logo_box {
    width: 48px;
    height: 48px;
    flex-shrink: 0;
    cursor: pointer;
}

.line {
    width: 692.046px;
    height: 1px;
    background: rgba(46, 21, 27, 0.10);
    margin-top: 11px;
}

.span {
    opacity: 0.7;
    color: var(--brand-2-900, #DA7893);
    font-family: DM Sans;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.lower_part {
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: center;
}

.callcode{
    height: auto;
    width: 30%;
    border: 0.8px solid rgba(41, 41, 41, 0.30);
    justify-content: center;
    align-items: center;
    color: rgba(46, 21, 27, 0.90);
    font-family: Poppins;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    z-index: 10;
}

.main_div_input{
    gap: 5px;
    height: 50px;
}

.number_input{
    height: auto;
    padding-left: 15px;
    width: 100%;
    border: 0.8px solid rgba(41, 41, 41, 0.30);
    justify-content: center;
    align-items: center;
    color: rgba(46, 21, 27, 0.90);
    font-family: Poppins;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    z-index: 10;
    outline: none;
}

select {
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    background-image: url('../../assets/drop_down.svg');
    background-position: calc(100% - 25px) center; /* Adjust the percentage and pixel value as needed */
    background-repeat: no-repeat;
  }
  

select::after {
    content: '';
    position: absolute;
    top: 50%;
    right: 10px; /* Adjust the position of the custom arrow */
    width: 0;
    height: 0;
    border-left: 6px solid transparent;
    border-right: 6px solid transparent;
    border-top: 8px solid #333; /* Adjust the color and size of the arrow */
    transform: translateY(-50%);
    pointer-events: none; /* Ensure the arrow doesn't interfere with the select interaction */
}

@media (max-width: 937px) {
    .create_account_main {
        height: 100vh;
        align-items: end;
        background-color: white;
        background-image: url("");
    }

    .input {
        width: 100%;
    }

    .account_main_form_div {
        width: 100%;
    }

    .create_account_form {
        padding: 0;
        margin: 0;
        width: 100%;
    }

    .grid_div {
        width: auto;
    }

    .account_form_div {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        width: auto;
        padding: 0;
        margin: 0;
        height: 70em;
        margin-top: 40em;
    }

    .grid_div {
        display: grid;
        gap: 20px;
        grid-template-columns: repeat(1, 1fr);
    }
}

@media (max-width: 927px) {
    .grid_div {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
    }
}