.detail_div {
    display: flex;
    justify-content: space-between;
}

.title_det {
    color: #000;
    font-family: Poppins;
    font-size: 13px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    opacity: 0.7;
    width: 10em;
}

.line {
    opacity: 0.5;
    background: rgba(0, 0, 0, 0.50);
    width: 20em;
    height: 0.8px;
}

.iphoneImage {
    height: 15em;
    width: 20em;
    border-radius: 10px;
    background-repeat: no-repeat;
    background-size: cover;
}

.inner_cont_div {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.back {
    color: var(--brand-2-900, #DA7893);
    text-align: center;
    font-family: Poppins;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    cursor: pointer;
}

.image_div {
    margin-bottom: 42px;
}

.image_div p {
    color: var(--black, #2E151B);
    text-align: start;
    font-family: Poppins;
    font-size: 24px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.confirm_div {
    width: 20em;
    margin: 0px 251px;
}