.pink_curve {
    background-image: url('../../assets/pinkcurve.svg');
    height: 100vh;
    display: flex;
    align-items: center;
    width: 50%;
    background-repeat: no-repeat;
    background-size: contain;
    z-index: 0;
}

.inner_div {
    margin-left: 60%;
}

.woman_laptop {
    width: 870.734px;
    height:  688px;
    bottom: 0;
    position: absolute;
    right: 0;
    z-index: 0;
}

.box_rot {
    width: 45px;
    height: 45px;
    transform: rotate(-42.231deg);
    flex-shrink: 0;
    border: 1px solid #2E151B;
    position: absolute;
    top: 29em;
    left:2em
}

.money_pot {
    width: 48px;
    height: 48px;
    transform: rotate(26.23deg);
    flex-shrink: 0;
    position: absolute;
    bottom: 2em;
    left: 20em;
}

.random_curver {
    position: absolute;
    fill: #FFF;
    stroke-width: 0.133px;
    stroke: var(--black, #2E151B);
    width: 435.681px;
    height: 280.183px;
    flex-shrink: 0;
}

.hero_title {
    color: var(--black, #2E151B);
    font-family: Poppins;
    font-size: 64px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    z-index: 0;
}

.h2_text {
    color: var(--black, #2E151B);
    font-family: DM Sans;
    font-size: 17px;
    font-style: normal;
    font-weight: 400;
    line-height: 30px; /* 176.471% */
}

.hero_button {
    display: flex;
    width: 329px;
    height: 61px;
    padding: 8px 30px;
    justify-content: center;
    align-items: center;
    gap: 10px;
    flex-shrink: 0;
    border-radius: 8px;
    background: var(--Brand-Primary, #663851);
    color: #E8F0FE;
    font-family: Poppins;
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    border: 0;
    box-shadow: 0px 10px 15px -3px rgba(0, 0, 0, 0.10), 0px 4px 6px -4px rgba(0, 0, 0, 0.10);
}

.left_text_container {
    width: 576px;
    display: flex;
    flex-direction: column;
    gap: 24px;
    margin-left: 15vh;
}