.pink_curve {
    background-image: url('../../assets/pinkcurve.svg');
    height: 100vh;
    display: flex;
    align-items: center;
    width: 50%;
    background-repeat: no-repeat;
    background-size: contain;
    z-index: 0;
}

.inner_div {
    margin-left: 60%;
}

.woman_laptop {
    width: 870.734px;
    height:  688px;
    bottom: 0;
    position: absolute;
    right: 0;
    z-index: 0;
}

.box_rot {
    width: 45px;
    height: 45px;
    transform: rotate(-42.231deg);
    flex-shrink: 0;
    border: 1px solid #2E151B;
    position: absolute;
    top: 29em;
    left:2em
}

.money_pot {
    width: 48px;
    height: 48px;
    transform: rotate(26.23deg);
    flex-shrink: 0;
    position: absolute;
    bottom: 2em;
    left: 20em;
}

.random_curver {
    position: absolute;
    fill: #FFF;
    stroke-width: 0.133px;
    stroke: var(--black, #2E151B);
    width: 435.681px;
    height: 280.183px;
    flex-shrink: 0;
}

.hero_title {
    color: var(--black, #2E151B);
    font-family: Poppins;
    font-size: 64px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    z-index: 0;
}

.h2_text {
    color: var(--black, #2E151B);
    font-family: DM Sans;
    font-size: 17px;
    font-style: normal;
    font-weight: 400;
    line-height: 30px; /* 176.471% */
}

.hero_button {
    display: flex;
    width: 352px;
    height: 61px;
    padding: 8px 30px;
    justify-content: center;
    align-items: center;
    gap: 10px;
    flex-shrink: 0;
    border-radius: 8px;
    background: var(--Brand-Primary, #2F4454);
    color: #E8F0FE;
    font-family: Poppins;
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    border: 0;
    box-shadow: 0px 10px 15px -3px rgba(0, 0, 0, 0.10), 0px 4px 6px -4px rgba(0, 0, 0, 0.10);
}

.left_text_container {
    width: 576px;
    display: flex;
    flex-direction: column;
    gap: 24px;
    margin-left: 15vh;
}

.hero_input {
    display: flex;
    width: 329px;
    height: 58px;
    padding: 0px 10px;
    align-items: center;
    gap: 10px;
    flex-shrink: 0;
    border-radius: 8px;
    border: 1px solid var(--black, #2E151B);
    background-color: transparent;
}

.hero_button::placeholder {
    color: var(--Neutral-Neutral-700, rgba(46, 21, 27, 0.80));
    font-family: DM Sans;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    opacity: 0.4;
}

.enter_email_div {
    display: flex;
    flex-direction: column;
    gap: 24px;
}

@media (max-width: 724px) {
    .hero_title {
        color: #FFF;
        font-family: Poppins;
        font-size: 32px;
        font-style: normal;
        font-weight: 500;
        line-height: normal;
        z-index: 10;
        width: 355px;
    }

    .screen {
        width: 100%;
        height: 500px;
        flex-shrink: 0;
        opacity: 0.7;
        background: var(--black, #2E151B);
        position: absolute;
        top: 0;
        z-index: 10;
    }

    .h2_text {
        z-index: 10;
        color: #FFF;
        text-align: center;
        font-family: DM Sans;
        font-size: 12px;
        font-style: normal;
        font-weight: 400;
        line-height: 16px; /* 133.333% */
        width: 339px;
    }
    
    .pink_curve {
        background-image: url('');
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
        height: 400px;
    }

    .woman_laptop {
        width: 400px;
        height: 300px;
        position: absolute;
        top: 200px;
        right: 5vw;
    }
    .left_text_container {
        width: 100%;
        height: 400px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin:10px;
    }
    .hero_button {
        margin-top: 5em;
        position: relative;
        z-index: 10;
    }
    .money_pot {
        top: 27em;
    }

    .box_rot {
        width: 0;
        height: 0;
    }
}
